services:
  client:
    build: ./game
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "5173:5173"
    volumes:
      - ./game:/app
      - /app/node_modules
    command: npm run dev -- --host
    depends_on:
      - server

  server:
    build: ./server
    env_file:
      - server\.env
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
